<div class="container sm-6">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Img</th>
      </tr>
</thead>
{{> history}}
</table>
    <form action = "/" method = "get">
        <button type="submit" class="btn btn-dark">Volver al Post</button>
    <form>
</div>